* daniel.maizel@codefresh.io roi.kramer@codefresh.io itai@codefresh.io noam.gal@codefresh.io pavel@codefresh.io ziv@codefresh.io daniel.soifer@codefresh.io victor.khazanov@codefresh.io denis@codefresh.io yaroslav@codefresh.io
