apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - https://raw.githubusercontent.com/codefresh-io/argo-cd/231fc56b0894ba622b7234f5523d615c67bf23a1/manifests/install.yaml
  - default-rbac.yaml
images:
  - name: quay.io/codefresh/argocd
    newTag: CR-11890-sync-v2.3.4
  - name: quay.io/codefresh/applicationset
    newTag: v0.4.2

# will be effective on argo-cd 2.1
configMapGenerator:
  - behavior: merge
    literals:
      - timeout.reconciliation=20s
      - accounts.admin=apiKey,login
    name: argocd-cm
  - behavior: merge
    literals:
      - server.insecure=true
    name: argocd-cmd-params-cm

    # reset the crbs to `subject.namespace: default`, so that argo-cd will later change them to the actual ns
patches:
  - target:
      group: rbac.authorization.k8s.io
      kind: ClusterRoleBinding
      version: v1
    patch: |-
      - op: replace
        path: /subjects/0/namespace
        value: default
  - target:
      version: v1
      kind: Service
      name: argocd-server
    patch: |
      - op: add
        path: /spec/ports/0/appProtocol
        value: grpc
      - op: add
        path: /spec/ports/1/appProtocol
        value: grpc
